/**
 ** 12-Theme update
 **
 **/
.page-section.breadcrumbs .page-header h1 {
    font-size: 60px;
    text-transform: none;
    padding: 30px 0px;
}

.booking-selector {
    background-image: url(/rentit/slider/slide-1);
    background-repeat: no-repeat;
    background-size: cover;
}
.form-extras .select {
    margin-bottom: 15px
}

.form-extras .select label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-right: 5px;
    line-height: 18px;
    padding-left: 15px;
    color: #7f7f7f;
    font-weight: 400;
}
.extra-select {
    width:120px !important;
}
#form-reservation .form-group {
    min-height: 80px
}
.form-reservation-error {
    color: rgba(230, 0, 0, 0.5);
}
#reservation_error {
    margin-top: 20px;
}

.car-listing .thumbnail-car-card  .table td.not-available {
    font-size: 14px;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    color: #e60000;
}
@media screen and (min-width: 992px) {
    .car-listing .thumbnail-car-card  .table td a.btn-choose-product {
        display: inline-block;
        width: 50%;
        float: right;
    }
}

#page_choose_product, #page_complete, #page_summary {
    min-height: 800px;
}

.car-listing .thumbnail-car-card .table td.buttons {
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.car-listing-selector {
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 60px;
}

@media (max-width: 991px) {
    .translation_language {
        display: inline-block;
        position: relative;
        left: 16px;
    }
}

.translation_language {
    display: inline-block;
    position: relative;
    top: 27px;
}

.shopping_cart {
    display: inline-block;
    position: relative;
    top: 27px;
    left: 10px;
}

.is-sticky .translation_language {
    top: 8px;
}

.form-search {
    background: rgba(20, 24, 28, 0.8);
}

.form-search.dark {
    min-height: 250px;
    margin: 100px 0px;
}

#datepicker .ui-datepicker {
    margin: 0 auto;
    width: 100%;
}


.caption-text ul li,
.caption-text ol li {
    font-size: 14px;
    border-bottom: none;
    padding: 8px 0 8px 20px;
    position: relative;
}
.caption-text ul li:before,
.caption-text ol li:before {
    content: '\f058';
    font-family: 'FontAwesome';
    position: absolute;
    top: 7px;
    left: 0;
    color: #e60000;
}

.car-big-card .car-details ul li {
    border-bottom: none;
}

.logo {
    background-color: transparent;
}

/** 13 - spinner **/

#full_loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 32, 49, 1);
    z-index: 9999;
}

.s2 {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.s1 {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50vh;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: transparent;
}

.bigcon {
    position: absolute;
    height: 95px;
    width: 95px;
    top: 50vh;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: transparent;
    animation: bigcon 2s infinite linear;
    animation-delay: 0.25s;
}

.loader_message {
    position: absolute;
    height: 95px;
    width: 95px;
    top: calc(50vh - 10px);
    left: calc(50% - 30px);
    background-color: transparent;
    color: white;
}

.b {
    border-radius: 50%;
    position: absolute;
}

.s {
    width: 25px;
    height: 25px;
    animation: small 2s infinite ease;
    box-shadow: 0px 2px rgba(0,0,0,0.3);
    background-color: #46b9ff;
}

.s:nth-child(1) {
    top: 0%;
    left: 0%;
}

.s:nth-child(2) {
    top: 0%;
    right: 0%;
}

.s:nth-child(3) {
    right: 0%;
    bottom: 0%;
}

.s:nth-child(4) {
    bottom: 0%;
    left: 0%;
}

.big {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    box-shadow:0px 0px 10px #54f7f8, 0px 0px 20px #54f7f8, 0px 0px 30px #54f7f8, 0px 0px 50px #54f7f8, 0px 0px 60px #54f7f8 ;
    z-index: 1;
    background-color: #54f7f8;
    animation: bigball 1s infinite linear;
}

.sb1{
    animation-delay: -1.75s;
}
.sb6{
    animation-delay: -1.5s;
}
.sb2{
    animation-delay: -1.25s;
}
.sb7{
    animation-delay: -1s;
}
.sb3{
    animation-delay: -0.75s;
}
.sb8{
    animation-delay: -0.5s;
}
.sb4{
    animation-delay: -0.25s;
}
.sb5{
    animation-delay: -0s;
}

@keyframes bigcon {
    0% {
        transform-origin: center;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    100% {
        transform-origin: center;
        transform: translate(-50%, -50%) rotate(405deg);
    }
}

@keyframes small {
    0% {
        transform: scale(1);
        background-color: #46b9ff;
    }
    10% {
        transform: scale(1.3);
        background-color: #54f7f8;
    }
    15% {
        transform: scale(1);
    }
    25%{
        transform: scale(1);
        background-color: #46b9ff;
    }
    100%{
        transform: scale(1);
        background-color: #46b9ff;
    }
}

/**
 * jQuery toast plugin created by Kamran Ahmed copyright MIT license 2014
 */
.jq-toast-wrap { display: block; position: fixed; width: 250px;  pointer-events: none !important; margin: 0; padding: 0; letter-spacing: normal; z-index: 9000 !important; }
.jq-toast-wrap * { margin: 0; padding: 0; }

.jq-toast-wrap.bottom-left { bottom: 20px; left: 20px; }
.jq-toast-wrap.bottom-right { bottom: 20px; right: 40px; }
.jq-toast-wrap.top-left { top: 20px; left: 20px; }
.jq-toast-wrap.top-right { top: 20px; right: 40px; }

.jq-toast-single { display: block; width: 100%; padding: 10px; margin: 0px 0px 5px; border-radius: 4px; font-size: 12px; font-family: arial, sans-serif; line-height: 17px; position: relative;  pointer-events: all !important; background-color: #444444; color: white; }

.jq-toast-single h2 { font-family: arial, sans-serif; font-size: 14px; margin: 0px 0px 7px; background: none; color: inherit; line-height: inherit; letter-spacing: normal; }
.jq-toast-single a { color: #eee; text-decoration: none; font-weight: bold; border-bottom: 1px solid white; padding-bottom: 3px; font-size: 12px; }

.jq-toast-single ul { margin: 0px 0px 0px 15px; background: none; padding:0px; }
.jq-toast-single ul li { list-style-type: disc !important; line-height: 17px; background: none; margin: 0; padding: 0; letter-spacing: normal; }

.close-jq-toast-single { position: absolute; top: 3px; right: 7px; font-size: 14px; cursor: pointer; }

.jq-toast-loader { display: block; position: absolute; top: -2px; height: 5px; width: 0%; left: 0; border-radius: 5px; background: red; }
.jq-toast-loaded { width: 100%; }
.jq-has-icon { padding: 10px 10px 10px 50px; background-repeat: no-repeat; background-position: 10px; }
.jq-icon-info { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII='); background-color: #31708f; color: #d9edf7; border-color: #bce8f1; }
.jq-icon-warning { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII='); background-color: #8a6d3b; color: #fcf8e3; border-color: #faebcc; }
.jq-icon-error { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII='); background-color: #a94442; color: #f2dede; border-color: #ebccd1; }
.jq-icon-success { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg=='); color: #dff0d8; background-color: #3c763d; border-color: #d6e9c6; }